<template>
  <v-row align="center" justify="center">
    <v-col class="text-center">
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn :href="source" icon large target="_blank" v-on="on">
            <v-icon large>mdi-code-tags</v-icon>
          </v-btn>
        </template>
        <span>Source</span>
      </v-tooltip>

      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-btn icon large href="https://codepen.io/johnjleider/pen/zgxeLQ" target="_blank" v-on="on">
            <v-icon large>mdi-codepen</v-icon>
          </v-btn>
        </template>
        <span>Codepen</span>
      </v-tooltip>
    </v-col>

    <v-card class="elevation-12">
      <v-toolbar color="primary" dark flat>
        <v-toolbar-title>Login form</v-toolbar-title>
        <v-spacer />
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn :href="source" icon large target="_blank" v-on="on">
              <v-icon>mdi-code-tags</v-icon>
            </v-btn>
          </template>
          <span>Source</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn icon large href="https://codepen.io/johnjleider/pen/pMvGQO" target="_blank" v-on="on">
              <v-icon>mdi-codepen</v-icon>
            </v-btn>
          </template>
          <span>Codepen</span>
        </v-tooltip>
      </v-toolbar>
      <v-card-text>
        <v-form>
          <v-text-field label="Root Version" name="login" :value="moduleVersion" prepend-icon="person" type="text" />
          <v-text-field label="Password" :value="rootVersion" name="password" prepend-icon="lock" type="text" />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="updateVersionClick">Login</v-btn>
      </v-card-actions>
    </v-card>
  </v-row>
</template>

<script lang="ts">
  import {
    Component,
    Prop,
    Vue,
    Emit
  } from 'vue-property-decorator';
  import MainLayout from '@/layouts/MainLayout.vue'
  import {
    State,
    Action,
    Getter
  } from 'vuex-class'
  const DEMO_NAMESPACE: string = "demo"

  @Component
  export default class Login extends Vue {
    private source: String = 'Hello'
    @State('version', {
      namespace: DEMO_NAMESPACE
    })  moduleVersion!: string
    @State('version')  rootVersion!: string

    @Action("updateState", {
      namespace: DEMO_NAMESPACE
    }) updateVersion: any

    updateVersionClick(): void {
      const rootVersion = this.rootVersion
      const moduleVersion = this.moduleVersion
      this.updateVersion({
        rootVersion,
        moduleVersion
      })
    }

    created() {
      this.$emit('update:layout', MainLayout)
    }
  }
</script>