<template>
    <v-card class="elevation-12">
        <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login form</v-toolbar-title>
            <v-spacer />
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                    <v-btn :href="source" icon large target="_blank" v-on="on">
                        <v-icon>mdi-code-tags</v-icon>
                    </v-btn>
                </template>
                <span>Source</span>
            </v-tooltip>
            <v-tooltip right>
                <template v-slot:activator="{ on }">
                    <v-btn icon large href="https://codepen.io/johnjleider/pen/pMvGQO" target="_blank" v-on="on">
                        <v-icon>mdi-codepen</v-icon>
                    </v-btn>
                </template>
                <span>Codepen</span>
            </v-tooltip>
        </v-toolbar>
        <v-card-text>
            <v-form>
                <v-text-field label="Login" name="login" v-model="session.userId" prepend-icon="person" type="text" />
                <v-text-field id="password" label="Password" name="password" prepend-icon="lock" type="password" />
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer />
            <v-btn color="primary" @click="goToHome">Login</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script lang="ts">
    import {
        Component,
        Prop,
        Vue,
        Emit
    } from 'vue-property-decorator'
    import LoginLayout from '@/layouts/LoginLayout.vue'
    import {
        namespace
    } from "vuex-class"
    import Session from '../types/Session';

    const sessionModule = namespace("SessionStore");

    @Component
    export default class Login extends Vue {
        private source: String = 'Hello'

        @sessionModule.State
        public session!: Session;

        @Emit('update:layout')
        updateLayout() {
            return LoginLayout
        }

        goToHome() {
            this.$router.push('/home')
        }

        created() {
            this.$emit('update:layout', LoginLayout)
        }
    }
</script>