<template>
  <v-app id="inspire">
    <component :is="layout">
      <router-view :layout.sync="layout" />
    </component>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
  import {
    Component,
    Vue,
    Provide
  } from 'vue-property-decorator';

  @Component
  export default class App extends Vue {
    public layout: string = 'div';
  }
</script>